@page
@model docs.unilake.Pages.Shared.ArticlePage

@if (Model == null || Model.Doc == null)
{
    return;
}

<div
    class="relative grid grid-cols-1 mx-auto 2xl:container py-XXL px-L md:px-XXL 2xl:px-XXXL md:py-XL md:gap-XXL gap-XL font-inter">
    @* back button *@
    <a class="" href="/blog">
      <span class="flex items-center ">
        <span
            class="absolute top-0 left-0 px-4 py-2 scale-90 border rounded-lg back-button-container my-L md:flex border-bgNeutral hover:bg-backgroundFaded md:relative md:top-auto md:left-auto">
        <svg class="back-button" width="58" height="24" viewBox="0 0 58 24" fill="#FF6849"
             xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" clip-rule="evenodd"
               d="M7.02022 6.97946C7.21548 7.17472 7.21548 7.4913 7.02022 7.68656L3.20712 11.4996H14C14.2761 11.4996 14.5 11.7235 14.5 11.9996C14.5 12.2758 14.2761 12.4996 14 12.4996H3.20711L7.02022 16.3127C7.21548 16.508 7.21548 16.8246 7.02022 17.0198C6.82496 17.2151 6.50838 17.2151 6.31311 17.0198L1.64645 12.3532C1.55268 12.2594 1.5 12.1322 1.5 11.9996C1.5 11.867 1.55268 11.7398 1.64645 11.6461L6.31312 6.97945C6.50838 6.78419 6.82496 6.78419 7.02022 6.97946Z"/>
         <path
             d="M25.0043 17V6.81818H28.902C29.6378 6.81818 30.2493 6.93419 30.7365 7.16619C31.227 7.39489 31.5933 7.7081 31.8352 8.10582C32.0805 8.50355 32.2031 8.95431 32.2031 9.4581C32.2031 9.8724 32.1236 10.227 31.9645 10.522C31.8054 10.8137 31.5916 11.0507 31.3232 11.233C31.0547 11.4152 30.7547 11.5462 30.4233 11.6257V11.7251C30.7846 11.745 31.1309 11.8561 31.4624 12.0582C31.7971 12.2571 32.0705 12.5388 32.2827 12.9034C32.4948 13.268 32.6009 13.7088 32.6009 14.2259C32.6009 14.7528 32.4732 15.2268 32.218 15.6477C31.9628 16.0653 31.5784 16.3951 31.0646 16.6371C30.5509 16.879 29.9046 17 29.1257 17H25.0043ZM26.8487 15.4588H28.8324C29.5019 15.4588 29.9841 15.3312 30.2791 15.076C30.5774 14.8175 30.7266 14.486 30.7266 14.0817C30.7266 13.7801 30.652 13.5083 30.5028 13.2663C30.3537 13.0211 30.1416 12.8288 29.8665 12.6896C29.5914 12.5471 29.2633 12.4759 28.8821 12.4759H26.8487V15.4588ZM26.8487 11.1484H28.6733C28.9915 11.1484 29.2782 11.0904 29.5334 10.9744C29.7886 10.8551 29.9891 10.6877 30.1349 10.4723C30.2841 10.2536 30.3587 9.99503 30.3587 9.69673C30.3587 9.30232 30.2195 8.97751 29.9411 8.7223C29.666 8.46709 29.2566 8.33949 28.7131 8.33949H26.8487V11.1484ZM36.3233 17.1541C35.8394 17.1541 35.4036 17.0679 35.0158 16.8956C34.6313 16.7199 34.3264 16.4614 34.101 16.12C33.879 15.7786 33.7679 15.3577 33.7679 14.8572C33.7679 14.4264 33.8475 14.0701 34.0066 13.7884C34.1657 13.5066 34.3828 13.2812 34.6578 13.1122C34.9329 12.9432 35.2428 12.8156 35.5875 12.7294C35.9355 12.6399 36.2952 12.5753 36.6664 12.5355C37.1138 12.4891 37.4767 12.4477 37.7551 12.4112C38.0336 12.3714 38.2357 12.3118 38.3617 12.2322C38.4909 12.1494 38.5556 12.0218 38.5556 11.8494V11.8196C38.5556 11.4451 38.4445 11.1551 38.2225 10.9496C38.0004 10.7441 37.6806 10.6413 37.263 10.6413C36.8221 10.6413 36.4725 10.7375 36.214 10.9297C35.9587 11.1219 35.7864 11.349 35.6969 11.6108L34.0165 11.3722C34.1491 10.9081 34.3678 10.5204 34.6728 10.2088C34.9777 9.89394 35.3506 9.65862 35.7914 9.50284C36.2322 9.34375 36.7194 9.2642 37.253 9.2642C37.6209 9.2642 37.9872 9.30729 38.3517 9.39347C38.7163 9.47964 39.0494 9.62216 39.351 9.82102C39.6526 10.0166 39.8946 10.2834 40.0769 10.6214C40.2625 10.9595 40.3553 11.3821 40.3553 11.8892V17H38.6252V15.951H38.5655C38.4561 16.1631 38.302 16.362 38.1032 16.5476C37.9076 16.7299 37.6607 16.8774 37.3624 16.9901C37.0674 17.0994 36.7211 17.1541 36.3233 17.1541ZM36.7907 15.8317C37.1519 15.8317 37.4651 15.7604 37.7303 15.6179C37.9954 15.4721 38.1993 15.2798 38.3418 15.0412C38.4876 14.8026 38.5605 14.5424 38.5605 14.2607V13.3608C38.5042 13.4072 38.4081 13.4503 38.2722 13.4901C38.1396 13.5298 37.9905 13.5646 37.8248 13.5945C37.659 13.6243 37.495 13.6508 37.3326 13.674C37.1702 13.6972 37.0293 13.7171 36.91 13.7337C36.6415 13.7701 36.4012 13.8298 36.1891 13.9126C35.977 13.9955 35.8096 14.1115 35.687 14.2607C35.5643 14.4065 35.503 14.5954 35.503 14.8274C35.503 15.1589 35.624 15.4091 35.8659 15.5781C36.1079 15.7472 36.4161 15.8317 36.7907 15.8317ZM45.4959 17.1491C44.7336 17.1491 44.079 16.9818 43.5321 16.647C42.9886 16.3123 42.5693 15.8499 42.2743 15.2599C41.9827 14.6667 41.8368 13.9839 41.8368 13.2116C41.8368 12.4361 41.986 11.7517 42.2843 11.1584C42.5826 10.5618 43.0035 10.0978 43.5471 9.76633C44.0939 9.43158 44.7402 9.2642 45.486 9.2642C46.1058 9.2642 46.6543 9.37855 47.1316 9.60724C47.6122 9.83262 47.995 10.1525 48.28 10.5668C48.565 10.9777 48.7275 11.4583 48.7672 12.0085H47.0471C46.9775 11.6406 46.8117 11.334 46.5499 11.0888C46.2914 10.8402 45.945 10.7159 45.5108 10.7159C45.1429 10.7159 44.8198 10.8153 44.5414 11.0142C44.263 11.2098 44.0459 11.4915 43.8901 11.8594C43.7376 12.2273 43.6614 12.6681 43.6614 13.1818C43.6614 13.7022 43.7376 14.1496 43.8901 14.5241C44.0426 14.8954 44.2563 15.1821 44.5314 15.3842C44.8098 15.5831 45.1363 15.6825 45.5108 15.6825C45.776 15.6825 46.013 15.6328 46.2218 15.5334C46.4339 15.4306 46.6112 15.2831 46.7537 15.0909C46.8962 14.8987 46.994 14.665 47.0471 14.3899H48.7672C48.7241 14.9302 48.565 15.4091 48.29 15.8267C48.0149 16.241 47.6403 16.5658 47.1664 16.8011C46.6924 17.0331 46.1356 17.1491 45.4959 17.1491ZM51.8857 14.6037L51.8807 12.4311H52.169L54.9134 9.36364H57.0163L53.6406 13.1222H53.2678L51.8857 14.6037ZM50.245 17V6.81818H52.0447V17H50.245ZM55.0376 17L52.5518 13.5249L53.7649 12.2571L57.1903 17H55.0376Z"/>
        </svg>
        </span>
    </span>
    </a>
    @* Doc title *@
    <div class="flex flex-col justify-between xl:hidden md:flex-row gap-L">
        <div class="flex flex-col gap-L">
            <div class="flex gap-M">
                <span class="text-brand text-Regular hidden md:flex leading-[32px]">Article</span>
                <button
                    class="md:h-[32px] h-[24px] w-[77px] py-S px-SM rounded-[6px] bg-[#FF684940] text-onBrand text-Small flex items-center text-center justify-center">
                    Category
                </button>
            </div>
            <h1 class="text-[32px] md:text-[48px] leading-normal font-[700] text-textSecodary">
                @(Model.Doc.Title)
            </h1>
        </div>
        <div class="flex items-end">
            <div class="flex gap-M h-[48px] max-w-[272px] items-end">
                <img src="@Model.Doc.AuthorImage" class="h-[48px] w-[48px] rounded-full">
                <div class="flex flex-col justify-between h-full lg:min-w-[208px] md:min-w-[200px] min-w-[180px]">
                    <span class="text-Bold text-headLines">@(Model.Doc.Author)</span>
                    <div class="flex items-end justify-between">
                        <span class="text-Small text-textSecondary">@($"{Model.Doc.Date:dd MMMM yyyy}")</span>
                        <div class="flex items-center h-full">
                            <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z"
                                    fill="#252532"/>
                            </svg>
                        </div>
                        <span class="text-Small text-textSecondary">@(Math.Max(Model.Doc.WordCount / 238 ?? 0, 1)) min read</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex xl:flex-row flex-col-reverse gap-[55px]">

        @* CONTENT *@
        <div class="grid gap-XXL">
            @* Big Title *@
            <div class="justify-between hidden xl:flex">
                <div class="flex flex-col gap-SM">
                    @* <div class="flex gap-M"> *@
                    @*     <span class="text-brand text-Regular">Article</span> *@
                    @*     <button *@
                    @*         class="md:h-[32px] h-[24px] w-[77px] py-S px-SM rounded-[6px] bg-[#FF684940] text-onBrand text-Small flex items-center text-center justify-center"> *@
                    @*         Category *@
                    @*     </button> *@
                    @* </div> *@
                    <h1 class="text-[48px] leading-[52px] font-[700] text-headLines">
                        @(Model.Doc.Title)
                    </h1>
                </div>
                <div class="flex items-end">
                    <div class="flex gap-M h-[48px] max-w-[272px] items-end">
                        <img src="@Model.Doc.AuthorImage" class="h-[48px] w-[48px] rounded-full">
                        <div
                            class="flex flex-col justify-between h-full lg:min-w-[208px] md:min-w-[200px] min-w-[180px]">
                            <span class="text-Bold text-headLines">@(Model.Doc.Author)</span>
                            <div class="flex items-end justify-between">
                                <span class="text-Small text-textSecondary">@($"{Model.Doc.Date:dd MMMM yyyy}")</span>
                                <div class="flex items-center h-full">
                                    <svg width="4" height="5" viewBox="0 0 4 5" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.22168 3.06641V2.70605C0.22168 2.20215 0.379883 1.78613 0.696289 1.45801C1.01855 1.12988 1.45508 0.96582 2.00586 0.96582C2.5625 0.96582 3.00195 1.12988 3.32422 1.45801C3.64648 1.78613 3.80762 2.20215 3.80762 2.70605V3.06641C3.80762 3.56445 3.64648 3.97754 3.32422 4.30566C3.00781 4.62793 2.57129 4.78906 2.01465 4.78906C1.46387 4.78906 1.02734 4.62793 0.705078 4.30566C0.382812 3.97754 0.22168 3.56445 0.22168 3.06641Z"
                                            fill="#252532"/>
                                    </svg>
                                </div>
                                <span
                                    class="text-Small text-textSecondary">@(Math.Max(Model.Doc.WordCount / 238 ?? 0, 1)) min read</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full mx-auto">
                <img src="@Model.Doc.Image"
                     class="object-cover w-full min-h-[125px] md:min-h-[259px] border border-borderSecondary rounded-L">
            </div>
            <div class="flex flex-col gap-[39px]">
                @Html.Raw(Model.Doc.Preview)
                <hr class="bg-neutralSecondary"/>
            </div>
        </div>

        @* RIGHT MENU *@
        <div class="bg-transparent px-M rounded-S h-fit lg:min-w-[327px]">
            <div id="drawer-right"
                 class="xl:fixed 2xl:pl-0 3xl:mr-[60px] 2xl:mr-0 xl:mr-[75px] right-0 z-40 xl:h-screen xl:top-[108px] xl:p-4 overflow-y-auto bg-transparent xl:w-80 dark:bg-gray-800"
                 tabindex="-1" aria-labelledby="drawer-right-label">
                <div class="">
                    <button type="button"
                            class="flex items-center border-b xl:border-b-0 border-offset-[12px] border-bgNeutarl justify-between w-full gap-2 2xl:px-4 py-2 text-base text-bodyText transition duration-75 group dark:text-white"
                            aria-controls="dropdown-article" data-collapse-toggle="dropdown-article">
                        <div class="flex w-[266px] items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                 fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.83335 1.8483C8.60728 1.83429 8.31039 1.83333 7.85214 1.83333C6.98078 1.83333 6.3551 1.83367 5.86276 1.87095C5.37564 1.90785 5.05988 1.9788 4.80244 2.09887C4.19886 2.38037 3.71373 2.8655 3.43222 3.46909C3.31216 3.72653 3.2412 4.04228 3.20431 4.52941C3.16702 5.02174 3.16669 5.64742 3.16669 6.51878V9.33333C3.16669 10.275 3.16708 10.9512 3.21044 11.4819C3.25333 12.0069 3.33575 12.3454 3.4755 12.6196C3.74714 13.1528 4.18059 13.5862 4.71371 13.8578C4.988 13.9976 5.32649 14.08 5.85141 14.1229C6.38217 14.1663 7.05835 14.1667 8.00002 14.1667C8.94169 14.1667 9.61787 14.1663 10.1486 14.1229C10.6736 14.08 11.012 13.9976 11.2863 13.8578C11.8195 13.5862 12.2529 13.1528 12.5245 12.6196C12.6643 12.3454 12.7467 12.0069 12.7896 11.4819C12.833 10.9512 12.8334 10.275 12.8334 9.33333V6.8758C12.8334 6.39229 12.8323 6.07514 12.817 5.83335H11.4464C11.0903 5.83336 10.7931 5.83336 10.5502 5.81352C10.297 5.79283 10.0592 5.74809 9.83437 5.63353C9.48941 5.45776 9.20894 5.1773 9.03317 4.83233C8.91861 4.60749 8.87387 4.36972 8.85318 4.11646C8.83334 3.87365 8.83335 3.57642 8.83335 3.22032V1.8483ZM9.83335 2.10661V3.20002C9.83335 3.58164 9.83374 3.83778 9.84986 4.03503C9.8655 4.22645 9.89342 4.31797 9.92418 4.37834C10.0041 4.53514 10.1316 4.66263 10.2884 4.74252C10.3487 4.77329 10.4403 4.80121 10.6317 4.81685C10.8289 4.83296 11.0851 4.83335 11.4667 4.83335H12.5601C12.5168 4.74217 12.4687 4.65324 12.4158 4.56696C12.2478 4.29277 12.011 4.05146 11.4177 3.45812L11.1652 3.20567C10.6159 2.65635 10.3926 2.4369 10.1416 2.27701C10.0423 2.21376 9.93935 2.15688 9.83335 2.10661ZM7.91326 0.833327C8.60983 0.833253 9.03862 0.833207 9.44911 0.924223C9.88559 1.021 10.3018 1.19339 10.6789 1.4336C11.0335 1.6595 11.3366 1.96274 11.8291 2.45533C11.8434 2.46958 11.8578 2.48399 11.8724 2.49856L12.1248 2.75101C12.1405 2.76675 12.1561 2.78231 12.1715 2.79769C12.7035 3.32959 13.0311 3.65709 13.2685 4.04447C13.4787 4.38744 13.6335 4.76136 13.7274 5.1525C13.8335 5.59428 13.8334 6.05748 13.8334 6.80979C13.8334 6.83155 13.8334 6.85355 13.8334 6.8758V9.35572C13.8334 10.2702 13.8334 10.9871 13.7863 11.5634C13.7383 12.1501 13.6391 12.6349 13.4155 13.0736C13.048 13.7949 12.4616 14.3813 11.7403 14.7489C11.3016 14.9724 10.8168 15.0716 10.2301 15.1196C9.65383 15.1667 8.93688 15.1667 8.02241 15.1667H7.97763C7.06316 15.1667 6.34621 15.1667 5.76998 15.1196C5.18322 15.0716 4.69848 14.9724 4.25972 14.7489C3.53844 14.3813 2.95201 13.7949 2.5845 13.0736C2.36094 12.6349 2.2617 12.1501 2.21376 11.5634C2.16668 10.9871 2.16668 10.2702 2.16669 9.3557V6.49811C2.16668 5.65187 2.16668 4.9884 2.20716 4.45389C2.24837 3.90982 2.33361 3.45879 2.52594 3.04641C2.9068 2.2298 3.56315 1.57344 4.37977 1.19259C4.79215 1.00026 5.24317 0.915015 5.78724 0.873809C6.32175 0.833327 6.98523 0.833329 7.83146 0.833331L7.85214 0.833332C7.87274 0.833332 7.89311 0.833329 7.91326 0.833327ZM5.50002 8C5.50002 7.72386 5.72388 7.5 6.00002 7.5H10C10.2762 7.5 10.5 7.72386 10.5 8C10.5 8.27614 10.2762 8.5 10 8.5H6.00002C5.72388 8.5 5.50002 8.27614 5.50002 8ZM5.50002 10.6667C5.50002 10.3905 5.72388 10.1667 6.00002 10.1667H8.66669C8.94283 10.1667 9.16669 10.3905 9.16669 10.6667C9.16669 10.9428 8.94283 11.1667 8.66669 11.1667H6.00002C5.72388 11.1667 5.50002 10.9428 5.50002 10.6667Z"
                                      fill="#252532"/>
                            </svg>
                            <h5 id="drawer-right-label"
                                class="text-xs font-extrabold text-bodyText tracking-[1.44px] uppercase dark:text-gray-400">
                                On this page</h5>
                        </div>

                        <svg class="transition-transform xl:hidden chevron" xmlns="http://www.w3.org/2000/svg"
                             width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.64645 5.64645C3.84171 5.45118 4.15829 5.45118 4.35355 5.64645L8 9.29289L11.6464 5.64645C11.8417 5.45118 12.1583 5.45118 12.3536 5.64645C12.5488 5.84171 12.5488 6.15829 12.3536 6.35355L8.35355 10.3536C8.15829 10.5488 7.84171 10.5488 7.64645 10.3536L3.64645 6.35355C3.45118 6.15829 3.45118 5.84171 3.64645 5.64645Z"
                                  fill="#252532"/>
                        </svg>
                    </button>

                    <ul id="dropdown-article" class="flex-col hidden gap-2 p-2 py-3 pl-6 xl:flex ">
                        @foreach (var item in Model?.Doc?.DocumentMap?.Headings ?? new List<MarkdownMenu>())
                        {
                            <li id="link-@item.Id"
                                class="relative flex items-center w-full justify-between text-xs text-bodyText transition duration-75 rounded-lg group hover:bg-[#f0eeeb] dark:text-white dark:hover:bg-gray-700">
                                <button class="w-full text-left">
                                    <a href="@item.Link"
                                       class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">
                                        @item.Text</a>
                                </button>
                            </li>
                            @if (item.Children?.Any() ?? false)
                            {
                                <ul class="flex flex-col pl-8 xl:gap-2">
                                    @foreach (var subItem in item.Children)
                                    {
                                        <li id="link-@subItem.Id"
                                            class="relative flex items-center w-full justify-between text-xs text-bodyText transition duration-75 rounded-lg group hover:bg-[#f0eeeb] dark:text-white dark:hover:bg-gray-700">
                                            <button class="w-full text-left">
                                                <a href="@subItem.Link"
                                                   class="flex items-center w-full p-2 transition duration-75 rounded-lg group dark:text-white dark:hover:bg-gray-700">Heading
                                                    @subItem.Text</a>
                                            </button>
                                        </li>
                                    }
                                </ul>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="hidden xl:block">
        @await Html.PartialAsync("Subscribe")
    </div>
</div>
@await Html.PartialAsync("BlogFooter")


@* Script to highlight the headings in RIGHT MENU *@
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sections = document.querySelectorAll('h2,h3');
        const navLinks = document.querySelectorAll('li[id^="link-"]');
        const fixedMenuHeight = 100;

        window.addEventListener('scroll', () => {
            let current = '';

            sections.forEach(section => {
                const sectionTop = section.offsetTop;
                if (pageYOffset >= sectionTop - fixedMenuHeight - 60) {
                    current = section.getAttribute('id');
                }
            });

            navLinks.forEach(link => {
                link.classList.remove('font-bold');
                if (link.id === `link-${current}`) {
                    link.classList.add('font-bold');
                }
            });
        });

        // Smooth scrolling with offset
        navLinks.forEach(link => {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                const targetId = this.querySelector('a').getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
                const offsetPosition = targetElement.offsetTop - fixedMenuHeight;

                window.scrollTo({
                    top: offsetPosition,
                    behavior: 'smooth'
                });
            });
        });
    });
</script>

<script>
    function copyCode() {
        const codeBlock = document.getElementById("code-block");
        const codeText = codeBlock.innerText;

        const textarea = document.createElement("textarea");
        textarea.value = codeText;
        document.body.appendChild(textarea);
        textarea.select();
        textarea.setSelectionRange(0, 99999);
        document.execCommand("copy");
        document.body.removeChild(textarea);

        const copyBtn = document.getElementById('copyBtn')
        const successMessage = document.getElementById('success-message');
        const defaultMessage = document.getElementById('default-message');
        successMessage.classList.remove('hidden');
        defaultMessage.classList.add('hidden');
        copyBtn.classList.add('bg-[#2f4d01]')
        copyBtn.classList.remove('border')

        setTimeout(function () {
            successMessage.classList.add('hidden');
            defaultMessage.classList.remove('hidden');
            copyBtn.classList.remove('bg-[#2f4d01]')
            copyBtn.classList.add('border')
        }, 2000);
    }
</script>
