@{
    var menuItems = new (string Href, string Text)[]
    {
        ("/", "Getting Started"),
        ("/architecture", "Architecture"),
        ("/platform", "Platform"),
        ("/reference", "Reference"),
        ("/integrations", "Integrations"),
        ("/contribute", "Contribute"),
        ("/blog", "Blog"),
    };
}
<header id="header" class="fixed top-0 z-50 w-full bg-white shadow h-14 dark:bg-black">
  <nav class="border-b bg-[#F9F8F6] border-[#DDDFDA] dark:border-gray-700 dark:bg-black">
    <div class="px-6 py-6 mx-auto sm:px-8 2xl:px-28">
      <div class="flex items-center justify-between">
          <div class="flex flex-shrink-0 gap-0 sm:gap-6">
          <!-- Mobile menu button -->
          <div class="flex items-center xl:hidden">
            <button type="button" v-on:click="open=!open" class="inline-flex items-center justify-center p-2 text-gray-400 rounded-md dark:bg-black hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-500 focus:outline-none focus:ring-indigo-500 focus:ring-offset-2 dark:ring-offset-black" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              
              <svg :class="['h-8 w-8', open ? 'hidden' : 'block']" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3 8C3 7.44772 3.44772 7 4 7H28C28.5523 7 29 7.44772 29 8C29 8.55228 28.5523 9 28 9H4C3.44772 9 3 8.55228 3 8ZM3 16C3 15.4477 3.44772 15 4 15H28C28.5523 15 29 15.4477 29 16C29 16.5523 28.5523 17 28 17H4C3.44772 17 3 16.5523 3 16ZM3 24C3 23.4477 3.44772 23 4 23H28C28.5523 23 29 23.4477 29 24C29 24.5523 28.5523 25 28 25H4C3.44772 25 3 24.5523 3 24Z" fill="#252532"/>
              </svg>

              <svg :class="['h-8 w-8', open ? 'block' : 'hidden']" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.2045 8.2045C8.64384 7.76517 9.35616 7.76517 9.7955 8.2045L18 16.409L26.2045 8.2045C26.6438 7.76517 27.3562 7.76517 27.7955 8.2045C28.2348 8.64384 28.2348 9.35616 27.7955 9.7955L19.591 18L27.7955 26.2045C28.2348 26.6438 28.2348 27.3562 27.7955 27.7955C27.3562 28.2348 26.6438 28.2348 26.2045 27.7955L18 19.591L9.7955 27.7955C9.35616 28.2348 8.64384 28.2348 8.2045 27.7955C7.76517 27.3562 7.76517 26.6438 8.2045 26.2045L16.409 18L8.2045 9.7955C7.76517 9.35616 7.76517 8.64384 8.2045 8.2045Z" fill="#252532"/>
              </svg>
            </button>
        </div>
        @* LOGO *@
        <a href="/" class="self-center mr-2" alt="Main Logo">
        <svg class="w-[87px] h-[16px] sm:w-[171px] sm:h-[32px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 171 32" fill="none">
            <path d="M51.5706 20.8496C51.5706 25.3076 49.5008 27.8653 45.8927 27.8653C42.6237 27.8653 40.7567 25.4206 40.7567 21.1552V9.74811H36.558V21.2707C36.558 29.1827 41.4372 31.9896 45.6334 31.9896C47.9677 31.9896 49.9836 31.3424 51.5783 30.1175V31.6069H55.7795V9.74811H51.5783L51.5706 20.8496Z" fill="#252532"/>
            <path d="M70.1269 9.36548C67.7926 9.36548 65.7613 10.0126 64.1794 11.2376V9.74811H59.9808V31.6069H64.1794V20.5055C64.1794 16.0448 66.2493 13.4871 69.8573 13.4871C73.1264 13.4871 74.9933 15.9344 74.9933 20.1999V31.6069H79.1945V20.0843C79.1945 12.1723 74.3153 9.36548 70.1192 9.36548" fill="#252532"/>
            <path d="M87.3043 9.74811H83.1056V31.6069H87.3043V9.74811Z" fill="#252532"/>
            <path d="M85.2242 3.36408C84.5634 3.36248 83.928 3.61903 83.4536 4.07906C82.9792 4.53909 82.7032 5.16623 82.6844 5.8268C82.6858 6.49997 82.9538 7.14517 83.4298 7.62117C83.9058 8.09717 84.551 8.36518 85.2242 8.36654C85.8924 8.36043 86.5308 8.08968 86.9997 7.6136C87.4686 7.13752 87.7295 6.49498 87.7254 5.8268C87.712 5.17118 87.443 4.54674 86.9758 4.08666C86.5085 3.62659 85.8799 3.36729 85.2242 3.36408Z" fill="#252532"/>
            <path d="M99.5125 27.6393C99.1378 27.7868 98.739 27.8634 98.3364 27.8653C97.8998 27.8653 97.1679 27.8653 97.1679 26.2013V0.0076828H92.9667V26.286C92.9667 29.8119 94.9517 31.9998 98.1438 31.9998C99.127 32.0074 100.099 31.7942 100.989 31.3758L101.932 30.9033L101.354 26.7226L99.5125 27.6393Z" fill="#252532"/>
            <path d="M120.249 11.8128C118.308 10.2094 115.864 9.34264 113.346 9.36548C107.25 9.36548 102.476 14.3423 102.476 20.6955C102.476 27.0487 107.25 31.9947 113.346 31.9947C115.869 32.0001 118.312 31.1174 120.249 29.5012V31.6069H124.448V9.74811H120.249V11.8128ZM113.462 27.8654C109.656 27.8654 106.675 24.717 106.675 20.6955C106.675 16.674 109.656 13.4871 113.462 13.4871C117.332 13.4871 120.249 16.5867 120.249 20.6955C120.249 24.717 117.268 27.8654 113.462 27.8654Z" fill="#252532"/>
            <path d="M150.631 9.74811H145.007L137.057 18.4639H134.319V0H130.12V31.6069H134.319V22.6241H136.972L144.999 31.6069H150.569L140.752 20.5568L150.631 9.74811Z" fill="#252532"/>
            <path d="M160.181 9.36547C153.898 9.36547 149.157 14.2447 149.157 20.6955C149.157 27.0282 154.082 31.9947 160.374 31.9947C163.985 31.9947 167.195 30.5155 169.419 27.8294L170.269 26.8022L167.341 23.8747L166.314 25.1201C165.597 25.9996 164.69 26.7044 163.661 27.1814C162.632 27.6583 161.508 27.8949 160.374 27.873C158.831 27.881 157.33 27.3764 156.105 26.4384C154.88 25.5005 154.002 24.1822 153.607 22.6908H170.446L170.682 21.5095C170.762 21.1003 170.797 20.6835 170.787 20.2666C170.787 14.1471 166.129 9.3552 160.181 9.3552M153.613 18.6C154.439 15.5518 157.007 13.464 160.181 13.464C163.237 13.464 165.715 15.5826 166.427 18.6H153.613Z" fill="#252532"/>
            <path d="M0.00769746 16.5867V31.6069H4.43235V29.8093C1.60756 27.2182 0.00512695 21.5532 0.00512695 16.5764" fill="#FF6849"/>
            <path d="M26.9383 16.5867V31.6069H22.5111V29.8093C25.3359 27.2182 26.9383 21.5532 26.9383 16.5764" fill="#FF6849"/>
            <path d="M22.5111 5.56997V17.1414C22.5111 20.8059 21.4531 23.6435 19.5322 25.436V13.9956H14.9612V27.5007C14.4653 27.5721 13.965 27.609 13.464 27.6111C12.9639 27.609 12.4645 27.5721 11.9694 27.5007V1.49199H7.40611V25.436C5.48525 23.6384 4.42723 20.8136 4.42723 17.1414V9.73526H0V17.1414C0 26.1602 5.28494 31.9895 13.464 31.9895C21.6431 31.9895 26.9306 26.1602 26.9306 17.1414V5.56997H22.5111Z" fill="#FF6849"/>
        </svg>
        </a>
      </div>
          @* LINKS *@
            <div class="hidden xl:flex sm:space-x-4 lg:space-x-8">
                @{
                    void RenderNavLink(string href, string childContent, string? cls = null)
                    {
                        
                        <a href="@href" class="@Html.ClassNames("inline-flex items-center font-inter px-1 leading-[28px] pt-1 text-base font-normal", Html.MatchesPath(href) ? "text-[#FF6849]" : " text-[#252532] transition duration-500 hover:text-[#FF6849]", cls)">@Html.Raw(childContent) </a>

                    }
                    foreach (var menuItem in menuItems)
                    {
                        RenderNavLink(menuItem.Href, menuItem.Text);
                    }
                }
            </div>
            @* CTA *@
        <div class="flex items-center gap-6 md:gap-8">
            @* <dark-mode-toggle class="w-10 ml-2"></dark-mode-toggle> *@
          <form class="max-w-md mx-auto font-inter hover:cursor-pointer">
              <label for="default-search" class="mb-2 text-sm leading-[24px] sr-only dark:text-white">Search</label>
              <div class="relative w-[158px] sm:w-[193px] border border-[#DDDFDA] rounded-lg hover:bg-[#f0eeeb] hover:border-[#FF6849]">
                  <div class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.833313 7.33334C0.833313 3.74349 3.74346 0.833336 7.33331 0.833336C10.9232 0.833336 13.8333 3.74349 13.8333 7.33334C13.8333 8.94811 13.2439 10.426 12.2695 11.5624L14.3535 13.6464C14.5488 13.8417 14.5488 14.1583 14.3535 14.3536C14.1583 14.5488 13.8417 14.5488 13.6464 14.3536L11.5624 12.2696C10.426 13.244 8.94809 13.8333 7.33331 13.8333C3.74347 13.8333 0.833313 10.9232 0.833313 7.33334ZM11.2224 11.2224C12.2182 10.2266 12.8333 8.85225 12.8333 7.33334C12.8333 4.29577 10.3709 1.83334 7.33331 1.83334C4.29575 1.83334 1.83331 4.29577 1.83331 7.33334C1.83331 10.3709 4.29575 12.8333 7.33331 12.8333C8.85223 12.8333 10.2265 12.2183 11.2224 11.2225C11.2224 11.2225 11.2224 11.2224 11.2224 11.2224Z" fill="#525D61"/>
                      </svg>
                  </div>
                  <input type="text" id="default-search" class="peer flex cursor-pointer items-center w-full px-4 py-2 ps-10 text-sm text-[#525D61] self-stretch rounded-lg bg-transparent focus:ring-[#FF6849] focus:border-[#FF6849] border-transparent" placeholder="Search" required />
                  <button type="submit" class="text-gray-400 absolute end-2.5 bottom-1.5 mr-2 bg-transparent leading-[24px] text-xs peer-focus:text-transparent ">ctrl+k</button>
              </div>
            </form>
            
            @* buttons *@
            <div class="hidden sm:flex flex-start gap-3  text-[#252532]">  
              <a href="#" class="flex">
                <div class="rounded-full p-2  border hover:bg-[#f0eeeb] cursor-default border-[#DDDFDA]">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M7.32473 7.10357L3.34554 10.6568C2.93564 10.9793 2.66669 11.5117 2.66669 12.1105C2.66669 13.0884 3.38408 13.8887 4.26089 13.8887H11.7391C12.616 13.8887 13.3334 13.0884 13.3334 12.1105C13.3334 11.1324 12.616 10.3324 11.7391 10.3324H6.07787C5.99393 10.3324 5.94088 10.2318 5.98179 10.15L7.44139 7.22763C7.4947 7.14237 7.39863 7.04023 7.32473 7.10357ZM11.7391 2H4.26089C3.38408 2 2.66669 2.80001 2.66669 3.77817C2.66669 4.75608 3.38408 5.55635 4.26089 5.55635H9.92217C10.0061 5.55635 10.0592 5.65691 10.0182 5.73873L8.55865 8.66109C8.50534 8.74634 8.60141 8.84849 8.67531 8.78514L12.6545 5.23144C13.0644 4.90864 13.3334 4.37653 13.3334 3.77765C13.3334 2.79974 12.616 1.99947 11.7391 2Z" fill="#252532"/>
                  </svg>
                </div>
              </a>
              <a href="#" class="flex">
                <div class="rounded-full p-2 border hover:bg-[#f0eeeb] cursor-default border-[#DDDFDA]">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M8.00065 1.33334C4.31732 1.33334 1.33399 4.31667 1.33399 8C1.33318 9.39944 1.77305 10.7636 2.59119 11.899C3.40933 13.0343 4.56421 13.8833 5.89199 14.3253C6.22532 14.3833 6.35065 14.1833 6.35065 14.008C6.35065 13.85 6.34199 13.3253 6.34199 12.7667C4.66732 13.0753 4.23399 12.3587 4.10065 11.9833C4.02532 11.7913 3.70065 11.2 3.41732 11.0413C3.18399 10.9167 2.85065 10.608 3.40865 10.6C3.93399 10.5913 4.30865 11.0833 4.43399 11.2833C5.03399 12.2913 5.99199 12.008 6.37532 11.8333C6.43399 11.4 6.60865 11.1087 6.80065 10.942C5.31732 10.7753 3.76732 10.2 3.76732 7.65C3.76732 6.92467 4.02532 6.32534 4.45065 5.85867C4.38399 5.692 4.15065 5.00867 4.51732 4.092C4.51732 4.092 5.07532 3.91667 6.35065 4.77467C6.89339 4.62427 7.45413 4.54868 8.01732 4.55C8.58399 4.55 9.15065 4.62467 9.68399 4.77467C10.9593 3.908 11.5173 4.092 11.5173 4.092C11.884 5.00867 11.6507 5.692 11.584 5.85867C12.0087 6.32534 12.2673 6.91667 12.2673 7.65C12.2673 10.2087 10.7093 10.7753 9.22599 10.942C9.46732 11.15 9.67599 11.55 9.67599 12.1753C9.67599 13.0667 9.66732 13.7833 9.66732 14.0087C9.66732 14.1833 9.79265 14.3913 10.126 14.3247C11.4492 13.8778 12.599 13.0272 13.4135 11.8926C14.2281 10.7581 14.6663 9.39666 14.6667 8C14.6667 4.31667 11.6833 1.33334 7.99999 1.33334" fill="#252532"/>
                  </svg>
                </div>
              </a>
            </div>
        </div>
        
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    @* TODO: Add LEFT & RIGHT MENUs to Mobile menu *@
    <div v-cloak v-if="open" class="xl:hidden">
        <div class="pt-2 pb-3 space-y-1">
            @{
                void RenderMobileLink(string href, string childContent, string? cls = null)
                {
                    <a href="@href" class="@Html.ClassNames("block border-l-4 py-2 pl-3 pr-4 text-base font-medium", 
                                           Html.MatchesPath(href) ? "border-indigo-500 bg-indigo-50 dark:bg-indigo-900 text-indigo-700 dark:text-indigo-200" : "border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100", cls)">
                        @Html.Raw(childContent)
                    </a>
                }
                foreach (var menuItem in menuItems)
                {
                    RenderMobileLink(menuItem.Href, menuItem.Text);
                }
            }
        </div>
    </div>
  </nav>
</header>

<script type="module">
import { ref } from "vue"
import { mount } from "app.mjs"

const Header = {
    setup() {
        const open = ref(false)
        return { open }
    }
}
mount('#header', Header)
</script>
